.z-chart-realtime-wrapper {
    height: 400px;
    width: 100%;
    border-radius: 4px;
    background-image: url(../images/bg-chart.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.z-chart-realtime-wrapper .z-chart-realtime {
    float: left;
    height: 100%;
    width: 667px;
    background-image: url(../images/bg-chart.jpg);
    background-size: cover;
}
.z-chart-realtime-wrapper .realtime-header {
    padding: 20px;
    width: 100%;
}
.z-btn.z-btn-zingchart {
    margin-right: 20px;
    padding: 3px 10px;
    width: 86px;
    height: 24px;
    text-align: center;
    background: linear-gradient(to right,#4b38d7,#8d4fe2);
    border-radius: 12px;
    font-weight: 700;
}
.z-btn:hover {
    background-color: #fcfcfc!important;
    border-color: #fcfcfc!important;
    color: #6e55b4!important;
}
.z-btn.z-btn-zingchart:hover {
    background-image: initial;
}
.z-time-pick.white {
    color: #fcfcfc;
}
.z-time-pick {
    font-size: 14px;
}
.z-chart-realtime-wrapper .realtime-list-song {
    line-height: 0;
    height: 100%;
    float: right;
    width: calc(100% - 667px);
}
.z-hor-chart-list {
    width: 100%;
    padding: 20px 10px;
    display: inline-block;
}
.z-hor-chart-list li {
    padding: 8px 10px 7px;
}
.z-hor-chart-list li.active, .z-hor-chart-list li:hover {
    background-color: rgba(255,255,255,.15);
    border-color: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.z-hor-chart-list li.active .thumb-40 .opac, .z-hor-chart-list li:hover .thumb-40 .opac {
    visibility: visible;
}
.w-zingmp3 .thumb-40>.ic-play-circle-outline{
    font-size: 16px;
    margin-top: -8px;
    margin-left: -8px;
}
.z-hor-chart-list li.active .thumb-40 .ic-play-circle-outline, .z-hor-chart-list li:hover .thumb-40 .ic-play-circle-outline {
    opacity: 1;
}

/* chart item */
 #chart-item-card {
    padding: 0;
    margin: auto;
}
#chart-item-card .prefix {
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
    color: #4a90e2;
    padding-right: 5px;
}
#chart-item-card .thumb-40 {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}
#chart-item-card .card-info {
    white-space: initial;
    max-width: 170px;
}
#chart-item-card .card-info .title {
    color: #fcfcfc;
}
#chart-item-card .card-info .title a {
    color: inherit;
}
#chart-item-card .card-info .artist {
    margin-top: 2px;
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
}
#chart-item-card .card-info .artist a {
    color: inherit;
}
#chart-item-card .prefix.--z--prefix-percent {
    position: absolute;
    right: 0;
    margin-right: 0;
    height: 100%;
    line-height: normal;
    font-size: 14px;
}
.spotlight .ic-star {
    position: relative;
    top: 1px;
    margin-left: 3px;
    font-size: calc(1em - 2px);
}

/* button see all */
.z-hor-chart-list .z-btn-text {
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    line-height: normal;
    font-weight: 500px;
}
.z-hor-chart-list .z-btn-text a {
    color: inherit;
}
/* week chart */
.week-chart .card-210-118 {
    width: 242px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.card-210-118 img {
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
}